body {
    background-color: rgb(253, 227, 244);
    margin: 1%;
}
#site-name {
    text-align: left;
    font-family: 'Meddon', cursive;
    color: rgb(250, 84, 186);
    font-size: 40px;
    /* font-stretch: ultra-condensed; */
    /* font-style: oblique; */
}
/* .pronunciation {
    font-family: serif;
    color: gray;
    /* font-style: italic; */

/* .pronunciation-text {
    font-size: 20px;
    font-style: italic;
} */
a {
    text-decoration: none;
    background-color: transparent;
    color:black;
}
.navbar {
    margin: auto;
    width: 95%;
    /* border-bottom: 1px solid lightgray; */
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: black;

}
.nav-item {
    display: inline;
    /* vertical-align: baseline; */
    margin: 15px;
    /* border-bottom: 1px solid lightgray; */
    font-family: 'Montserrat', sans-serif;
    color: black;
}
.home-link {
    color: hotpink;
}
#name-logo {
    width: 35%;
}
/* .my-links {
    border: 2px solid white;
    float: right;
    width: 25%;
    margin-top: 5%;
    margin-right: 5%;
    text-align: left;
    font-family: 'Monaco', monospace;
} */
.headshot {
    width: 35%;
    /* margin-top: 3%; */
}
.intro {
    margin-top: 5%;
    margin-left: 5%;
    border: 2px solid white;
    border-radius: 10px;
    width: 57%;
    float: left;
    text-align: justify;
    font-family: 'Raleway';
}
#pronunciation {
    font-family: 'Times New Roman', Times, serif;
    /* font-weight: bold; */
}
#name {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 40px;
}
.definition {
    float: right;
}
.font-italic {
    font-style: italic;