body {
    background-color: rgb(255, 233, 248);
    margin: 1% 2%;
}

/* NAVBAR */

#name-logo {
    width: 26%;
    /* margin-left: 15px; */
    align-content: center;
}
a {
    text-decoration: none;
    background-color: transparent;
    color:black;
}
ul {
    padding: 0px;
    margin: 0px
}
.nav-item {
    display: inline;
    text-align: center;
    /* padding: 18px; */
    margin: 15px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 15px;
}
#left-nav {
    width: 33%;
    /* display: flex; */
    justify-content: space-between;
    margin-left: 10px;
    border-bottom: 1px solid lightgrey;
}
#right-nav {
    width: 33%;
    justify-content: space-between;
    margin-right: 10px;
    border-bottom: 1px solid lightgrey;
}
.home-link {
    color: rgb(255, 53, 154);
}

/* HOMEPAGE BODY */

.headshot {
    width: 30%;
    margin-left: 3%
}
#name {
    font-family: 'Bodoni Moda', serif;
    font-weight: bold;
    font-size: 40px;
    display: inline;
    color: rgb(83, 83, 83);
}
#pronunciation {
    font-family: 'Bodoni Moda', serif;
    color: gray;
    display: inline;
    font-size: 25px;
}
.definition {
    align-items: right;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
}
#synonyms {
    color: rgb(255, 53, 154);
    font-family: 'Arapey', serif;
    font-style: italic;
    font-size: 20px;
}