body {
    background-color: rgb(255, 233, 248);
    margin: 1% 2%;
    line-height: 1.5;
}
p {
    margin-bottom: 2%;
}

/* NAVBAR */

#name-logo {
    width: 27%;
    align-content: center;
}
a {
    text-decoration: none;
    background-color: transparent;
    color:black;
}
ul {
    padding: 0px;
    margin: 0px
}
.nav-item {
    display: inline;
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: calc(2px + 1vw)
}
#left-nav {
    width: 34%;
    justify-content: space-between;
    margin-left: 10px;
    padding-right: 3%;
    border-bottom: 1px solid lightgrey;
}
#right-nav {
    width: 34%;
    justify-content: space-between;
    margin-right: 10px;
    padding-left: 3%;
    border-bottom: 1px solid lightgrey;
}
.home-link {
    color: rgb(236, 39, 161);
}


/* HOMEPAGE BODY */

.headshot {
    width: 100%;
    margin-left: 8%;
    margin-top: 2%;
}
#name {
    font-family: 'Bodoni Moda', serif;
    font-weight: 600;
    font-size: calc(17px + 2vw);
    display: inline;
    color: rgb(83, 83, 83);
    font-style: italic;
    margin-right: 2%;
}
#pronunciation {
    font-family: 'Bodoni Moda', serif;
    font-weight: 500;
    color: gray;
    display: inline;
    font-size: calc(2px + 2vw);
}
.definition {
    width: 60%;
    align-items: right;
    font-family: 'Cormorant Garamond', serif;
    font-size: calc(2vw - 2px);
    margin-left: 5%;
}
#job-title {
    /* font-family: 'Arapey', serif; */
    font-family: 'Montserrat', sans-serif;
    font-size: calc(2vw - 2px);
    /* font-style: italic; */
    /* color: rgb(248, 34, 166); */
    color: black;

}
#synonyms {
    /* color: gray; */
    color: rgb(248, 34, 166);
    font-family: 'Arapey', serif;
    /* font-style: italic; */
    font-size: calc(2px + 2vw);
}
/* .row {
    width:100%;
    margin-top: calc(1vw - 2px);
} */
.no-gap {
    margin-bottom: 0%;
}
.indent {
    padding-left: 8%;
}
.more-about-me {
    margin-left: 20%;
    margin-right: 20%;
    color: rgb(248, 34, 166);
    font-family: 'Montserrat', sans-serif;
    font-size: calc(1vw + 1px);
    font-style: italic;
    border-bottom: 0.5px solid rgb(248, 34, 166);
}

.resume {
    text-align: center;
    margin: auto;
    align-content: center;
    width: 92%;
    height: calc(400px + 30vw);
}