body {
    background-color: rgb(253, 240, 255);
    margin: 1%;
}
#site-name {
    text-align: left;
    font-family: 'Limelight', cursive;
    color: rgb(255, 0, 179);
    font-size: 45px;
    /* font-stretch: ultra-condensed; */
    /* font-style: oblique; */
}
/* .pronunciation {
    font-family: serif;
    color: gray;
    /* font-style: italic; */

/* .pronunciation-text {
    font-size: 20px;
    font-style: italic;
} */
a {
    text-decoration: none;
    background-color: transparent;
    color:black;
}
.navbar {
    margin: auto;
    width: 95%;
    border-bottom: 2px solid white;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: black;

}
.nav-item {
    display: inline;
    vertical-align: baseline;
    margin: 15px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}
.home {
    color: hotpink;
}

.my-links {
    border: 2px solid white;
    float: right;
    width: 25%;
    margin-top: 5%;
    margin-right: 5%;
    text-align: left;
    font-family: 'Monaco', monospace;
}

.intro {
    margin-top: 5%;
    margin-left: 5%;
    border: 2px solid white;
    border-radius: 10px;
    width: 57%;
    float: left;
    text-align: justify;
    font-family: 'Raleway';
}


.font-italic {
    font-style: italic;