<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h2>Hi, my name is Áine</h2>
            <h3 class="font-italic">|ahn-yuh|</h3>
            <p>
                I am a software engineer and recent graduate of 
                <a href="https://hackbrightacademy.com/">Hackbright Academy</a> 
                with a focus on the backend blah blah blah
            </p>
            <p>This is Aine Thompson's personal website</p>
        </div>
        <p>My education, coding experience, hackbright, etc.</p>
    </body>
</html>
