<!DOCTYPE html>
<html>
    <head>
        <!-- Bootstrap Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Bootstrap CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
                rel="stylesheet" 
                integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
                crossorigin="anonymous">
        <link rel="stylesheet" href="/static/home.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Arapey:ital@1&family=Bodoni+Moda:wght@500;600;700&family=Cormorant+Garamond:wght@500&family=Montserrat&display=swap" rel="stylesheet">
        
        <title>{% block title %}ÁINE THOMPSON{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar">
            <ul id="left-nav" class="nav">
                <li class="nav-item home-link">
                    <a href="/" class="home-link">HOME</a>
                </li>
                <li class="nav-item">
                    <a href="/resume">RESUME</a>
                </li>
                <li class="nav-item">
                    <a href="/my-story">MY STORY</a>
                </li>
            </ul>

            <img src="/static/darker-pink-logo.png" id="name-logo">

            <ul id="right-nav" class="nav">
                <li class="nav-item">
                    <a href="my-app">MY APP</a>
                </li>
                <li class="nav-item">
                    <a href="https://github.com/ainethompson">GITHUB</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.linkedin.com/in/%C3%A1ine-thompson-748694184/">LINKEDIN</a>
                </li>
            </ul>
        </nav>
        {% block content %}BODY CONTENT GOES HERE{% endblock %}
        <footer class="footer">
            <p class="no-gap">CONTACT INFO</p>
            <p class="no-gap">EMAIL:  ainegthompson@gmail.com</p>
            <p>PHONE:  +1 (510) 981-9837</p>
        </footer>
    </body>
</html>
