<!DOCTYPE html>
<html>
    <head>
        <title>ÁINE THOMPSON</title>
    </head>
    <body>
        <h1>ÁINE THOMPSON</h1>
        <h2>Hi, my name is Áine</h2>
        <h3>(pronounced like ahn-yuh)</h3>
        <p>
            I am a software engineer and recent graduate of 
            <a href="https://hackbrightacademy.com/">Hackbright Academy</a> 
            with a focus on the backend blah blah blah
        </p>
        <p>This is Aine Thompson's personal website</p>
        <ul>
            <li>
                <a href="https://github.com/ainethompson">Github</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/%C3%A1ine-thompson-748694184/">LinkedIn</a>
            </li>
            <li>
                <a href="/resume">Resume</a>
            </li>
        </ul>
    </body>
</html>
