<!DOCTYPE html>
<html>
    <head>
        <!-- Bootstrap Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Bootstrap CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
                rel="stylesheet" 
                integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
                crossorigin="anonymous">
        <link rel="stylesheet" href="/static/home.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Allura&family=Meddon&family=Megrim&family=Montserrat&family=Playfair+Display:wght@600&family=Prata&family=Raleway&family=Satisfy&family=Stalemate&display=swap" rel="stylesheet">
        
        <title>ÁINE THOMPSON</title>
    </head>
    <body>
        <nav class="navbar">
                <ul id="left-nav">
                    <li class="nav-item left home-link">
                        <a href="/homepage.html">HOME</a>
                    </li>
                    <li class="nav-item left">
                        <a href="https://github.com/ainethompson">GITHUB</a>
                    </li>
                    <li class="nav-item left">
                        <a href="https://www.linkedin.com/in/%C3%A1ine-thompson-748694184/">LINKEDIN</a>
                    </li>
                </ul>

                <img src="/static/website-name-logo.png" id="name-logo">

                <ul id="right-nav">
                    <li class="nav-item right">
                        <a href="/my-story.html">MY STORY</a>
                    </li>
                    <li class="nav-item right">
                        <a href="my-app">MY APP</a>
                    </li>
                    <li class="nav-item right">
                        <a href="/resume">RESUME</a>
                    </li>
                </ul>
        </nav>

        <div class="container align-left">
            <img src="/static/headshot.jpg" alt="Headshot" class="headshot">
        </div>

        <div class="container definition">
            <p>
                <h1 id="name">Áine</h1><h2 id="pronunciation">| ahn ya |</h2>
            </p>
            <p class="font-italic">
                software engineer • creative • something else
            </p>
        </div>
    </body>
</html>
