{% extends 'base.html' %}

{% block title %}My Background{% endblock %}

{% block content %}
    <div class="my-bg">
        <h2">Hi, my name is Áine</h2>
            <p>
                I am a software engineer and recent graduate of 
                <a href="https://hackbrightacademy.com/">Hackbright Academy</a> 
                with a focus on the backend blah blah blah
            </p>
            <p>This is Aine Thompson's personal website</p>
        <p>My education, coding experience, hackbright, etc.</p>
    </div>
 {% endblock %}