{% extends 'base.html' %}

{% block title %}MY STORY{% endblock %}

{% block content %} 
    <div id="my-story">
        <p>
            Hi, my name is Áine
            
            As you may have guessed my favorite color is pink
            
            My interests, passions, etc about me
        </p>
        <p>
            Grew up in a low-income household, shaped My values around social justice, equity, accessibility, 
            community. Aim to make tech more widely available, esp to low-income
            woman in the tech industry, change the ratio
        </p>
        <p>
            Aside from coding, I enjoy drawing (link art page), taking my dog lizzie to the beach, and 
        </p>
    </div>
{% endblock %}
